<div class="intro">
  <div class="intro_inner" style="display: flex; justify-content: space-between; ">
    <img class="contact-image" src="../../../assets/images/contact.svg">
    <div class="contacts">
      <div class="contact">
        <div><img class="contact-icon" src="../../../assets/icons/instagram.svg"></div>
        <p class="contact-text">sprosi_online</p>
      </div>
      <div class="contact">
        <div><img class="contact-icon" src="../../../assets/icons/phone.svg"></div>
        <p class="contact-text">8(905)311-38-15</p>
      </div>
      <div class="contact">
        <div><img class="contact-icon" src="../../../assets/icons/email.svg"></div>
        <p class="contact-text">sprosi@mail.ru</p>
      </div>
      <div class="contact">
        <div><img class="contact-icon" src="../../../assets/icons/vk.svg"></div>
        <p class="contact-text">id100012</p>
      </div>
    </div>
  </div>
</div>
