<div class="intro">
  <div class="intro_inner">
    <div class="login-page">
      <img class="login_image" src="../../../assets/images/login.svg">
      <div class="login_input">
        <h1>Вход</h1>
        <div class="about-br"></div>
        <form [formGroup]="loginForm">
          <div>
            <div class="justify-content-center">
              <mat-form-field appearance="outline" class="login_form">
                <mat-label>Имя пользователя</mat-label>
                <input matInput
                       formControlName="username">
              </mat-form-field>
            </div>
            <div class="about-br"></div>
            <div>
              <mat-form-field appearance="outline" class="login_form">
                <mat-label>Пароль</mat-label>
                <input matInput type="password"
                       formControlName="password">
              </mat-form-field>
            </div>
            <div id="controls" style="display: flex;justify-content: center">
<!--              mat-flat-button-->
              <button class="login-button" [disabled]="loginForm.invalid" (click)="submit()" >
                Войти
              </button>
              <button class="register-button" routerLink="/register" (click)="submit()" >
                Зарегистрироваться
              </button>
<!--              <a routerLink="/register" class="registered_link" style="  margin-left: 15px;">Зарегистрироваться</a>-->
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
