<div class="intro">
  <div class="home_intro_inner">
    <div class="intro_titles">
      <h1 class="intro_title">
        Квалифицированная консультация<br>невыходя из дома
      </h1>
      <br>
      <br>
      <h2 class="intro_subtitle">
        Онлайн-консультация поможет Вам получить ответы на
        <br>интересующие вопросы
      </h2>
      <br>
      <br>
      <button class="main_button" routerLink="/specialistList">
        Запись к специалисту
      </button>
    </div>
    <img class="main_image" src="../../../assets/images/main_image.jpg">
<!--    <div class="main_image"></div>-->
  </div>
</div>
