<div class="register-page">
  <h2>Регистрация</h2>
  <p>Уже зарегистрировались?
    <a routerLink="/login" class="login_link">Войти</a>
  </p>
  <form [formGroup]="registerForm">
    <div class="justify-content-center">
      <mat-form-field appearance="outline" class="register_form">
        <mat-label>Имя</mat-label>
        <input matInput
               formControlName="name">
      </mat-form-field>
    </div>

    <div class="justify-content-center">
      <mat-form-field appearance="outline" class="register_form">
        <mat-label>Почта</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
    </div>

    <div class="justify-content-center">
      <mat-form-field appearance="outline" class="register_form">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput
               formControlName="password">
      </mat-form-field>
    </div>

    <div class="justify-content-center" >
      <mat-form-field appearance="outline" class="register_form">
        <mat-label>Повторить пароль</mat-label>
        <input type="password" matInput
               formControlName="confirmedPassword">
      </mat-form-field>
    </div>
<!--    <div class="justify-content-center" >-->
<!--      <mat-form-field appearance="outline" class="register_form">-->
<!--        <mat-label>Количество денег</mat-label>-->
<!--        <input type="money" matInput-->
<!--               formControlName="money">-->
<!--      </mat-form-field>-->
<!--    </div>-->

    <button style="background: #52ADCA; width: 25%;" [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button >
      Зарегистрироваться
    </button>

  </form>
</div>
