.profile-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
}

.logout {
  width: 35px;
  height: 35px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.profile {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-resolution: 150dpi), screen and (max-width: 900px) {
  .profile {
    display: block;
  }
}
