.client-profile {
  /*display: block;*/
  /*margin: 0;*/
  /*width: 60%;*/
  /*text-align: center;*/
  /*padding-top: 3rem;*/

}

.profile-image {
  /*border-radius: 50%;*/
  width: 250px;
  height: 350px;
  display: flex;
  margin-top: 0;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-bottom: 2rem;*/
  margin-bottom: 20px;
}

/*.col {*/
/*  display: flex;*/
/*  margin-top: 0;*/
/*}*/

.row {
  /*padding-top: 2rem;*/
  margin-top: 0;
  display: flex;
}

.logout_button {
  /*background: #52ADCA;*/
  width: 250px;
  height: 40px;
  border-radius: 18px;
  /*color: #28a1be;*/
  font-size: 18px;
  font-weight: bold;
  border-width: 1px;
  /*border-color: ;*/
}
