<div class="intro">
  <div class="home_intro_inner">
    <div *ngIf="isPsyLoaded" class="psy-profile">

      <div style="padding-top: 2rem" class="row">
        <div style="display: flex">
          <img class="profile-image" [src]="previewImgURL || formatImage(psyProfileImage) || 'https://png.pngtree.com/png-clipart/20201208/original/pngtree-cartoon-family-avatar-face-picture-kid-png-image_5519203.jpg'" alt="psy photo">
          <div style="text-align: left; margin-left: 30px">
            <h2 style="font-weight: bold">{{psy.name}}</h2>
            <p>{{psy.description}}</p>
          </div>
        </div>

        <mat-divider style="margin: 2rem 0"></mat-divider>

        <mat-card-actions >
<!--          align="end"-->
          <mat-form-field appearance="fill">
            <mat-label>Выбрать дату</mat-label>
            <input matInput [matDatepicker]="newDate" (dateChange)="dateChanged($event)">
            <mat-hint>ММ/ДД/ММ/ГГГГ</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="newDate" ></mat-datepicker-toggle>
            <mat-datepicker #newDate></mat-datepicker>
          </mat-form-field>
          <div *ngIf="isDateLoaded" class="chose-time">
            <mat-card class="time-card" *ngFor="let time of freeDate; let i = index">
              <mat-card-header style="text-align: left">
                <mat-card-title>{{time.getHours()}} : 00</mat-card-title>
              </mat-card-header>
              <button mat-flat-button class="button" style="background: #52ADCA; color: white" (click)="createApp(psy.id, time.getHours())">
                Записаться
              </button>
            </mat-card>
          </div>
        </mat-card-actions>
        <router-outlet></router-outlet>

      </div>

    </div>
  </div>
</div>


