<div class="intro">
  <div class="home_intro_inner">
    <div *ngIf="isPsysLoaded && isClientDataLoaded" class="index-page">
      <mat-card class="post-card" *ngFor="let psy of psys; let i = index">
        <div *ngIf="!psy.flagAdmin">
          <mat-card-header class="card-header">
            <!--                style="text-align: left-->
            <mat-card-title style="color:#28a1be">
              {{psy.name}}
            </mat-card-title>

          </mat-card-header>
          <!--            <img mat-card-image [src]="formatImage(psy.photo)" alt="post image">-->
          <div class="card_display">
            <div style="display: block">
              <div>
                <img class="specialist_photo" [src]="previewImgURL || formatImage(psy.photo) || 'https://png.pngtree.com/png-clipart/20201208/original/pngtree-cartoon-family-avatar-face-picture-kid-png-image_5519203.jpg'" alt="psy photo">
              </div>
              <button class="specialist_button" routerLink="/psy/{{psy.id}}">
                Выбрать специалиста
              </button>
            </div>

            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-content>
              <p class="specialist_description">{{psy.description}}</p>
              <div class="estimations">
                <p style="font-weight: bold; margin-top: 30px" >Отзывы {{psy.reviewsCl.length}}</p>
                <div style="text-align: left">
                  <p *ngFor="let review of psy.reviewsCl | slice:0:3">
                <span style="margin-left: 25px; font-weight: 500">
                  {{review.nameClient}}
                </span>: {{review.text}}
                    <p-rating [(ngModel)]="review.estimation" [cancel]="false"></p-rating>
                  </p>
                </div>
                <div *ngIf="psy.flag" style="text-align: left">
                  <p *ngFor="let review of psy.reviewsCl | slice:3">
                <span style="margin-left: 25px; font-weight: 500">
                  {{review.nameClient}}
                </span>: {{review.text}}
                    <p-rating [(ngModel)]="review.estimation" [cancel]="false"></p-rating>
                  </p>
                </div>
                <button (click)="psy.flag = true" *ngIf="!psy.flag && psy.flagButton">
                  Показать больше
                </button>
                <button (click)="psy.flag = false" *ngIf="psy.flag">
                  Скрыть
                </button>
              </div>
              <div class="estimation">
                <p-rating [(ngModel)]=" psy.estimation" [cancel]="false"></p-rating>
                <p class="estimation_text">{{psy.estimation | number: '1.1-1'}}</p>
              </div>
            </mat-card-content>
          </div>

        </div>

      </mat-card>
  </div>
  </div>

</div>
