.index-page {
  display: block;
  margin-bottom: 50px;
  /*margin: 0;*/
  /*width: 60%;*/
  /*padding-top: 3rem;*/
}

.post-card {
  display: block;
  margin-top: 10px;
  /*margin: 2rem auto;*/
  /*width: 80%;*/
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125)
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  padding: 1rem 1rem
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem
}

.specialist_photo {
  width: 250px;
  height: 300px;
}



.specialist_description {
  margin-top: 20px;
  /*color: #1A1A1A;*/
}


.specialist_button {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #52ADCA;
  width: 250px;
  height: 35px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

.estimation {
  margin-top: 20px;
  display: flex;
}

.estimation_text {
  margin-left: 10px;
}

#more {display: none;}

.card_display {
  display: flex;
}

@media screen and (max-width: 1500px){
  .specialist_button {
    width: 200px;
    height: 28px;
    border-radius: 8px;
    font-size: 12px;
  }
  .specialist_photo {
    width: 200px;
    height: 260px;
  }
}

@media screen and (min-resolution: 150dpi), screen and (max-width: 900px) {
  /*.specialist_description, */
  .estimations {
    display: none;
  }
  .card_display {
    display: block;
  }
  .specialist_button {
    width: 150px;
    height: 20px;
    border-radius: 6px;
    font-size: 10px;
  }
  .specialist_photo {
    width: 150px;
    height: 200px;
  }
  .estimation {
    margin-top: 5px;
  }
}
