<div *ngIf="isFinishedAppsLoaded" xmlns="http://www.w3.org/1999/html">
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile">My Appointments</button>
  </div>
  <h2>{{finishedAppointments.length}} Finished Appointments</h2>

  <mat-card class="appointment-card" *ngFor="let appointment of finishedAppointments; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{appointment.date | date: 'MMMM d, hh:mm' }}</mat-card-title>
      <mat-card-subtitle>{{appointment.psyName}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions align="end">
      <form [formGroup]="reviewForm">

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Text</mat-label>
          <input matInput
                 formControlName="text">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Estimation</mat-label>
          <input matInput
                 formControlName="estimation">
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="reviewForm.invalid" (click)="closeApp(appointment.id)">
          <!--        <mat-icon color="warn">delete</mat-icon>-->
          Close Appointment
        </button>

      </form>
    </mat-card-actions>
    <!--      <img mat-card-image [src]="formatImage(post.image)" alt="post image">-->
    <!--      <mat-card-content>-->
    <!--        <p>-->
    <!--          {{post.caption}}-->
    <!--        </p>-->
    <!--      </mat-card-content>-->

    <!--      <mat-card-actions align="end">-->
    <!--        <button color="warn" mat-button (click)="removeAppointment(appointment, i)">-->
    <!--          <mat-icon color="warn">delete</mat-icon>-->
    <!--          Remove Appointment-->
    <!--        </button>-->
    <!--      </mat-card-actions>-->

  </mat-card>
</div>
