<div *ngIf="isClientAppointmentsLoaded" xmlns="http://www.w3.org/1999/html">
  <div style="text-align: right">
    <button mat-flat-button style="background: #52ADCA" routerLink="/profile/finishedApps">Завершенные консультации</button>
  </div>
  <h2>{{appointments.length}} Косультации</h2>

  <mat-card class="appointment-card" *ngFor="let appointment of appointments; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{appointment.date | date: 'MMMM d, hh:mm' }}</mat-card-title>
      <mat-card-subtitle>{{appointment.psyName}}</mat-card-subtitle>
      <mat-card-subtitle>Link: {{appointment.link}}</mat-card-subtitle>
    </mat-card-header>

  </mat-card>
</div>
